hostname {{ device }}
logging trap informational
logging archive
 device harddisk
 severity debugging
 file-size 5
 frequency daily
 archive-size 300
 archive-length 4
!
logging console disable
logging monitor debugging
logging buffered 3000000
logging buffered informational
logging facility local3
{% for syslog_ipv4_server in syslog_ipv4_servers %}
{% if loop.first %}{# CDG #}
logging {{ syslog_ipv4_server }} vrf Mgmt port 9514
{% elif (loop.index == 2) or device is not matches 'bpa-gct-seed' %}
logging {{ syslog_ipv4_server }} vrf Mgmt severity info port default
{% endif %}
{% endfor %}
logging hostnameprefix {{ device }}
logging suppress duplicates
service timestamps log datetime msec show-timezone
service timestamps debug datetime msec show-timezone
domain vrf Mgmt name acme.com
domain name acme.com
{% for vrf_dns in dns_vrf_ipv4_servers %}
{% if loop.first or device is not matches 'bpa-gct-seed' %}
domain vrf Mgmt name-server {{ vrf_dns }}
{% endif %}
{% endfor %}
{% if dns_ipv4_servers is defined %}
{% for dns in dns_ipv4_servers %}
{% if loop.first or device is not matches 'bpa-gct-seed' %}
domain name-server {{ dns }}
{% endif %}
{% endfor %}
{% endif %}
!
{% for account in local_users.admins %}
{% if loop.first or device is not matches 'bpa-gct-seed' %}
username {{ account.username }}
 group root-lr
 group cisco-support
 secret 10 {{ account.secret }}
!
{% endif %}
{% endfor %}
vrf Mgmt
 address-family ipv4 unicast
 !
 address-family ipv6 unicast
 !
!
line default
 transport input ssh
 transport output telnet ssh
!
vty-pool default 0 9 line-template default
!
snmp-server ifindex persist
snmp-server vrf Mgmt
{% for host in snmp.trap_hosts %}
{% if loop.first or device is not matches 'bpa-gct-seed' %}
 host {{ host.address }} traps version 3 priv {{ host.community }} udp-port 1062
{% endif %}
{% endfor %}
!
{% for user in snmp.snmp_v3_users %}
{% if loop.first or device is not matches 'bpa-gct-seed' %}
snmp-server user {{ user.username }} v3_group v3 auth md5 encrypted {{ user.authentication_md5 }} priv aes 128 encrypted {{ user.encryption_aes128 }}
{% endif %}
{% endfor %}
snmp-server view all_oids 1 included
snmp-server group v3_group v3 priv notify all_oids read all_oids
fpd auto-upgrade enable
!
ntp
{% for ntp_server in ntp.vrf_ipv4_servers %}
{% if loop.first %}
 server vrf Mgmt {{ ntp_server }} prefer
{% elif (loop.index == 2) or device is not matches 'bpa-gct-seed' %}
 server vrf Mgmt {{ ntp_server }}
{% endif %}
{% endfor %}
 access-group vrf Mgmt ipv4 peer ACL_18
 update-calendar
!
ipv4 access-list ACL_18
{% for ntp_server in ntp.vrf_ipv4_servers %}
 {{ loop.index * 10 }} permit ipv4 host {{ ntp_server }} any
 {% if loop.last %}
 {{ (loop.index + 1) * 10 }} deny ipv4 any any
 {% endif %}
{% endfor %}
!
call-home
 vrf Mgmt
 service active
 contact smart-licensing
 {% if http_proxy is defined %}
 http-proxy {{ http_proxy.proxy }} port {{ http_proxy.port }}
 {% endif %}
 profile CiscoTAC-1
  active
  destination address http https://tools.cisco.com/its/service/oddce/services/DDCEService
  destination transport-method email disable
  destination transport-method http
 !
!
ipv4 virtual address vrf Mgmt {{ management_oob.vip_ipv4_address }}
ipv4 virtual address use-as-src-addr
!
{% for interface in management_oob.interfaces %}
interface {{ interface.name }}
 vrf Mgmt
 ipv4 address {{ interface.ipv4_address | ipv4_address }} {{ interface.ipv4_address | ipv4_netmask }}
!
{% endfor %}
!
router static
 vrf Mgmt
  address-family ipv4 unicast
   0.0.0.0/0 {{ management_oob.default_gateway_ipv4_address }}
  !
 !
!
grpc
 vrf Mgmt
 port 57400
 no-tls
 address-family ipv4
!
tpa
 vrf Mgmt
  address-family ipv4
   update-source dataports active-management
  !
 !
!
lldp
!
ssh timeout 60
ssh server session-limit 10
ssh server v2
ssh server vrf Mgmt
crypto ca trustpoint Trustpool
 crl optional
 vrf Mgmt
!
